html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* 
body {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    background-color: white;
}

header {
    display: grid;
    position: fixed;
    height: 8rem;
    width: 80%;
    z-index: 5;
    align-items: center;
    justify-items: center;
    background-color: rgb(249, 249, 249);
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 2rem;
    gap: 0.2rem;
    border-radius: 5px;

}

.logo {
    justify-self: start;
    width: 80%;
    height: 100%;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
    height: auto;
}
nav {
    grid-column: 3 / span 4;
}

li {
    display: inline-grid;
    margin: 0.5rem;
}

a { 
    display:block;
    height: 3rem;
    width: 10rem;
    background-color: hsl(271, 55%, 35%);
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 300;
    line-height: 3rem;
    text-align: center;
}

.current {
    background-color: white;
    color:  hsl(271, 55%, 35%); 
    border:1px solid hsl(271, 55%, 35%);;
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {

}


main {
    display:grid;
    position: relative;
    top: 10rem;
    width: 100%;
    grid-template: repeat(6, 1fr) / repeat(12, 1fr);
    gap: 1rem;
}

div.table {
    display: grid;
    justify-content: start;
    align-content: start;
}
table {
    min-width: 50%;
    border-radius: 5px;
    display: block;
    border: 0.2px solid rgb(32, 32, 32);
}

.general {
    grid-area: 1 / 1 / span 3 / span 6;
}

.metrics {
    grid-area: 1 / 8 / span 3 / span 5;
}

.cardio {
    grid-area: 5 / 1 / span 2 / span 6;
}

thead {
    background-color: hsl(240, 55%, 35%);
    color: white;
    width: 100%;
}

thead th { 
    padding: 0.1rem 2.5rem;
}

tbody {
    width: 100%;
}

tbody td {
    border: 0.1px solid gray;
    padding: 0.1rem 1rem;
    font-size: 0.9rem;
    border-radius: 3px;
}

.sub {
    font-size: 0.8rem;
    font-style: italic;
}

.low {
    background-color: hsl(108, 80%, 60%);
}

.medium {
    background-color: hsl(52, 80%, 60%);
}

.high {
    background-color: hsl(0, 80%, 60%);
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {

}

 */

 body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }

 header {
    display:flex;
    position: fixed;
    z-index: 5;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 90%;
    background-color: rgb(250, 250, 250);
    border-radius: 0.5rem;
 }

.logo-container {
    width: 15%;
    height: 100%;
    overflow: hidden;
}

.logo {
    width: auto;
    height: 100%;
    display: block;
}
 ul {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }

 li {
    display: inline-block;
    height: 3rem;
    width: 10rem;
    text-align: center;
    vertical-align:middle;
    line-height: 3;
    background-color: blueviolet;
    color: white;
    border-radius: 25px;
    margin: 0 0.5rem;
 }

 a { 
    text-decoration: none;
    color: white;
 }

 .current {
    background-color: white;
    color:  hsl(271, 55%, 35%); 
    border:1px solid hsl(271, 55%, 35%);;
}

.current a { 
    color:  hsl(271, 55%, 35%); 
}

 @media only screen and (max-width: 780px) {
    .logo-container {
        display: none;
    }

    header {
        justify-content: center;
    }

    ul {
        flex-wrap: nowrap;   
    }

    li {
        display: inline-block;
        height: 2rem;
        width: 7rem;
        line-height: 2rem;
    }

    a {
        font-size: 0.8rem;
    }
 }


 main {
    display: flex;
    position: relative;
    top: 3rem;
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5rem;
    border-radius: 0.5rem;
    background-image: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2) ),
                        url('./images/main_background_img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(255, 255, 255);
 }
 table {
    min-width: 50%;
    border-radius: 5px;
    display: block;
    border: 0.2px solid rgb(32, 32, 32);
    margin: 1.5rem;
    background-color: hsla(0, 0%, 100%, 0.70);

 }

 thead {
    background-color: hsl(240, 55%, 35%);
    color: white;
    width: 100%;
}

thead th { 
    padding: 0.1rem 2.5rem;
}

tbody {
    width: 100%;
}

tbody td {
    border: 0.1px solid gray;
    padding: 0.1rem 1rem;
    font-size: 0.9rem;
    border-radius: 3px;
}

.sub {
    font-size: 0.8rem;
    font-style: italic;
}

.low {
    background-color: hsl(108, 80%, 60%);
}

.medium {
    background-color: hsl(52, 80%, 60%);
}

.high {
    background-color: hsl(0, 80%, 60%);
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 1rem;
}